.color-container{
  background-color: lightgray;
  height: 100%;
  width: 100%;
  display: flex;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.header-value-keys{
  font-weight: 500;
}

.color-container-hovered{
  font-weight: 600;
  cursor: pointer;
  transform: scale(1.02);
}

.color-section-container-hovered{
  cursor: pointer;
}

.copy-styled-animation {
  padding: 5px 20px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: #b9ecbc;
  color: #2c2942;
  width: 100px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
